@import "resp.css";
a{
    color: #615d6c;
}
a:hover{
    color: #2c3e50;
}
body{
    font-family: "Nutino", sans-serif !important;
}
#login a:not(.btn),#registration a:not(.btn){
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
}
#login > div,#registration > div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
h1{
    font-size: 48px;
}
.btn{
    font-family: "Nutino", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid #E9FBF1;
    border-radius: 5px;
    background-color: #9BFFA1;
    padding: 5px 15px;
    color: #615d6c;
    cursor: pointer;
}
.btn:hover{
    background-color: #32C145;
    color: #fafffb;
    border: 1px solid #E9FBF1;
}

*{
    padding: 0;
    margin: 0;
}
#registration, #login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 80px);
}
form{
    background: linear-gradient(0deg, rgba(148,243,180,.5) 0%, rgba(186,242,187,.5) 25%, rgba(186,242,187,.5) 75%, rgba(148,243,180,.5) 100%);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #E9FBF1;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 0px #615D6C;
    -moz-box-shadow: 0px 0px 10px 0px #615D6C;
    box-shadow: 0px 0px 10px 0px #615D6C;
}
form input{
    background-color: #E9FBF1;
    margin: 20px 0;
    width: 100%;
    border: 2px solid #E9FBF1;
    border-radius: 10px;
    padding: 10px 5px;
}
.checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid #615d6c;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
.checkbox img{
    display: none;
    height: 15px;
    margin-left: 2px;
    margin-top: 3px;
}
.checkbox.active img{
    display: block;
}
.checkbox.active{
    background-color: #fff;
}
.todo-list{
    background-color: #fafffb;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: 1px solid #9BFFA1;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px 15px;
}
.todo-list .subtasks .new-subtask {
    display: none;
}
.todo-list-body{
    display: flex;
    flex-wrap: wrap;
}
.todo-list.edit .subtasks{
    display: block;
}
.todo-list.edit .subtasks .new-subtask{
    margin: 10px 0;
    display: block;
}
.todo-list-box{
    padding: 30px 0;
    width: 40%;
    margin: 0 auto;
}
.todo-list button{
    /*margin-left: auto;*/
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2em;
}
/* --- item edit input focus animation ---*/
.separator {
    height: 2px;
    width: 100%;
    background: #32C145;
    display: block;
    -webkit-transform: scaleX(0) translateY(-2px);
    transform: scaleX(0) translateY(-2px);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    opacity: 0;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.edit-item:focus + .separator{
    -webkit-transform: scaleX(1) translateY(-2px);
    transform: scaleX(1) translateY(-2px);
    opacity: 1;
}
.edit-item-box{
    overflow: hidden;
}
.task-descr{
    width: 100%;
    font-size: .9em;
    padding: 0 0 0 20px;
    margin-bottom: 10px;
    color: rgba(97, 93, 108, 0.8);
}
.subtask-item{
    display: flex;
    padding: 5px 20px;
}
.edit-todo,.delete-todo{
    color: #615d6c;
    font-size: 1rem;
    display: none;
    margin-left: auto;
    transition: .1s;
}
.todo-list.edit .delete-todo, .todo-list.edit .edit-item{
    display: block;
}
.todo-list.edit .edit-todo, .edit-item,.todo-list.edit .task-text{
    display: none;
}
.todo-list:not(.edit):hover .edit-todo{
    display: block;
}
.edit-item, .new-subtask-input{
    border: none;
    border-bottom: 2px solid #615d6c;
    padding: 0 5px;
}